<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="/main.css" />
</head>

<body>
    <header>Library</header>
    <main class="main">
        <h1>Books</h1>
        <h2>Book title:
            <%= book.title %>
        </h2>
        <p><strong>Author:</strong>
            <%= book.author %>
        </p>
        <p><strong>Year:</strong>
            <%= book.year %>
        </p>
        <p><strong>Publisher:</strong>
            <%= book.publisher %>
        </p>
        <p><strong>Pages:</strong>
            <%= book.pages %>
        </p>
        <p><strong>Genre:</strong>
            <%= book.genre %>
        </p>



    </main>

</body>

</html>